<nav>
  <a class="logo" href="../index.html">
    <h1>FastType</h1>
  </a>
  <div class="main-items">
    <a class="icons" id="icon-keyboard" href="../index.html">
      <img src="./assets/images/keyboard(1).png" alt="" />
    </a>
    <a class="icons" id="icon-liderboard" href="../leaderBoard.html">
      <img src="./assets/images/crown.png" alt="" />
    </a>
    <a class="icons" id="icon-info" href="#">
      <img src="./assets/images/info.png" alt="" />
    </a>
    <div class="popup-theme-container">
      <button class="icons" id="theme-icon">
        <img src="./assets/images/paint.png" alt="" />
      </button>

      <div class="theme-popup" id="theme-popup">
        <button data-theme="dark">Dark</button>
        <button data-theme="light">Light</button>
        <button data-theme="blue">Blue</button>
        <button data-theme="matrix">Matrix</button>
      </div>
    </div>
  </div>
</nav>

<div class="register-items">
  <a class="icons" id="bell-icon" href="#">
    <img src="./assets/images/bell.png" alt="" />
  </a>
  <div class="popup-container">
    <button class="icons" id="register-button">
      <img src="./assets/images/user.png" alt="" />
    </button>

    <div id="popup">
      <a href="../profile.html">
        <button>Profile</button>
      </a>
      <button>Settings</button>
      <button id="logout">Log out</button>
    </div>
  </div>
</div>